In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from mizani.formatters import percent_format
import os
from plotnine import *
import numpy as np
import sys
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from stargazer import stargazer
from statsmodels.tools.eval_measures import mse,rmse

In [3]:
# Reading the data
total_data = pd.read_csv("https://osf.io/download/4ay9x/")

# Checking if the data was correctly loaded
total_data.head()

,Unnamed: 0,hhid,intmonth,stfips,weight,earnwke,uhours,grade92,race,ethnic,...,ownchild,chldpres,prcitshp,state,ind02,occ2012,class,unionmme,unioncov,lfsr94
0,3,2600310997690,January,AL,3151.6801,1692.00,40,43,1,NaN,...,0,0,"Native, Born In US",63,Employment services (5613),630,"Private, For Profit",No,No,Employed-At Work
1,5,75680310997590,January,AL,3457.1138,450.00,40,41,2,NaN,...,2,6,"Native, Born In US",63,Outpatient care centers (6214),5400,"Private, For Profit",No,No,Employed-Absent
2,6,75680310997590,January,AL,3936.9110,1090.00,60,41,2,NaN,...,2,6,"Native, Born In US",63,Motor vehicles and motor vehicle equipment man...,8140,"Private, For Profit",No,No,Employed-At Work
3,10,179140131100930,January,AL,3288.3640,769.23,40,40,1,NaN,...,2,4,"Native, Born In US",63,"**Publishing, except newspapers and software (...",8255,"Private, For Profit",Yes,NaN,Employed-At Work
4,11,179140131100930,January,AL,3422.8500,826.92,40,43,1,NaN,...,2,4,"Native, Born In US",63,"Banking and related activities (521, 52211,52219)",5940,"Private, For Profit",No,No,Employed-At Work

### Data manipulation
In this part, data is filtered and some additional variables are added for the modeling.

In [13]:
# filtering for civil engineers (occupation code = 1360)
data = total_data[total_data["occ2012"] == 1360]
print(f"There are {data.shape[0]} civil engineers in the dataset")

There are 396 civil engineers in the dataset

In [17]:
# checking data completeness
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 396 entries, 168 to 148438
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  396 non-null    int64
 1   hhid        396 non-null    int64
 2   intmonth    396 non-null    object
 3   stfips      396 non-null    object
 4   weight      396 non-null    float64
 5   earnwke     396 non-null    float64
 6   uhours      396 non-null    int64
 7   grade92     396 non-null    int64
 8   race        396 non-null    int64
 9   ethnic      36 non-null     float64
 10  age         396 non-null    int64
 11  sex         396 non-null    int64
 12  marital     396 non-null    int64
 13  ownchild    396 non-null    int64
 14  chldpres    396 non-null    int64
 15  prcitshp    396 non-null    object
 16  state       396 non-null    object
 17  ind02       396 non-null    object
 18  occ2012     396 non-null    int64
 19  class       396 non-null    object
 20  unionmme    396 non-null    object
 21  unioncov    355 non-null    object
 22  lfsr94      396 non-null    object
dtypes: float64(3), int64(11), object(9)
memory usage: 74.2+ KB

In [23]:
# creating hourly wage, binary gender variable (True for males, False for females) and "white" (True if race = 1 - i.e. white, else 0) variables 
data["wage"] = data["earnwke"] / data["uhours"]
data["gender"] = data["sex"] == 1
data["white"] = data["race"] == 1
data

,Unnamed: 0,hhid,intmonth,stfips,weight,earnwke,uhours,grade92,race,ethnic,...,state,ind02,occ2012,class,unionmme,unioncov,lfsr94,wage,gender,white
168,394,4540720924693,January,AK,938.8809,615.00,40,43,4,NaN,...,94,"Architectural, engineering, and related servic...",1360,"Private, For Profit",No,No,Employed-At Work,15.375000,True,False
179,412,51250720790591,January,AK,374.8012,1250.00,38,44,1,NaN,...,94,Administration of economic programs and space ...,1360,Government - State,Yes,NaN,Employed-At Work,32.894737,True,True
697,1575,260177093001600,January,CA,3478.9719,1346.00,50,43,1,7.0,...,93,Petroleum refining (32411),1360,"Private, For Profit",No,No,Employed-At Work,26.920000,True,True
738,1679,310864092903826,January,CA,3089.1716,769.23,40,43,1,5.0,...,93,Hospitals (622),1360,"Private, For Profit",Yes,NaN,Employed-At Work,19.230750,True,True
1548,3502,972046964079070,January,CA,3371.2601,2076.92,40,43,4,NaN,...,93,Administration of economic programs and space ...,1360,Government - State,Yes,NaN,Employed-At Work,51.923000,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148115,314463,94100920950665,December,VT,263.7911,1194.00,40,40,1,NaN,...,1,** Construction (23),1360,Government - State,Yes,NaN,Employed-At Work,29.850000,True,True
148144,314533,441803003350100,December,VT,274.4192,1955.20,40,43,1,NaN,...,1,Services incidental to transportation (488),1360,Government - State,No,No,Employed-At Work,48.880000,True,True
148172,314602,710008645900880,December,VT,270.2848,1346.15,40,43,1,NaN,...,1,"Architectural, engineering, and related servic...",1360,"Private, For Profit",No,No,Employed-At Work,33.653750,True,True
148181,314621,840130301040503,December,VT,285.5574,1095.00,55,43,1,NaN,...,1,"Architectural, engineering, and related servic...",1360,"Private, For Profit",No,No,Employed-At Work,19.909091,True,True
148438,315108,715685150004404,December,VA,3185.8721,2884.61,50,44,1,NaN,...,5,"Architectural, engineering, and related servic...",1360,"Private, For Profit",No,No,Employed-At Work,57.692200,True,True

In [24]:
# creating highest education dummies: 
# "hs" for high-school or lower education
# "ba" for associates degrees or BAs 
# "ma" for masters and professional degrees
# "phd" for PhDs

data["edu_hs"] = data["grade92"] <= 39
data["edu_ba"] = data["grade92"].isin([39, 40, 41, 42, 43])
data["edu_ma"] = data["grade92"].isin([44, 45])
data["edu_phd"] = data["grade92"] == 46
data

,Unnamed: 0,hhid,intmonth,stfips,weight,earnwke,uhours,grade92,race,ethnic,...,unionmme,unioncov,lfsr94,wage,gender,white,edu_hs,edu_ba,edu_ma,edu_phd
168,394,4540720924693,January,AK,938.8809,615.00,40,43,4,NaN,...,No,No,Employed-At Work,15.375000,True,False,False,True,False,False
179,412,51250720790591,January,AK,374.8012,1250.00,38,44,1,NaN,...,Yes,NaN,Employed-At Work,32.894737,True,True,False,False,True,False
697,1575,260177093001600,January,CA,3478.9719,1346.00,50,43,1,7.0,...,No,No,Employed-At Work,26.920000,True,True,False,True,False,False
738,1679,310864092903826,January,CA,3089.1716,769.23,40,43,1,5.0,...,Yes,NaN,Employed-At Work,19.230750,True,True,False,True,False,False
1548,3502,972046964079070,January,CA,3371.2601,2076.92,40,43,4,NaN,...,Yes,NaN,Employed-At Work,51.923000,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148115,314463,94100920950665,December,VT,263.7911,1194.00,40,40,1,NaN,...,Yes,NaN,Employed-At Work,29.850000,True,True,False,True,False,False
148144,314533,441803003350100,December,VT,274.4192,1955.20,40,43,1,NaN,...,No,No,Employed-At Work,48.880000,True,True,False,True,False,False
148172,314602,710008645900880,December,VT,270.2848,1346.15,40,43,1,NaN,...,No,No,Employed-At Work,33.653750,True,True,False,True,False,False
148181,314621,840130301040503,December,VT,285.5574,1095.00,55,43,1,NaN,...,No,No,Employed-At Work,19.909091,True,True,False,True,False,False
148438,315108,715685150004404,December,VA,3185.8721,2884.61,50,44,1,NaN,...,No,No,Employed-At Work,57.692200,True,True,False,False,True,False

In [25]:
# creating union dummy (True for members, False for non-members)
data["union"] = data["unionmme"] == 1

In [26]:
# creating squared and cubed age variables for potential non-linear associations
data["age_2"] = data["age"] ** 2
data["age_3"] = data["age"] ** 3

## Modeling
Creating 4 OLS models with increasing complexity to predict hourly wages:
- Model 1 to include: age
- Model 2 to include: age, age squared, age cubed, gender
- Model 3 to include: age, age squared, age cubed, gender, education dummies
- Model 4 to include: age, age squared, age cubed, gender, education dummies, union membership, race

Note: for the education dummies, High-school level is the comparison, therefore it is left out of the OLS models.

In [66]:
reg1 = smf.ols("wage ~ age", data=data).fit(cov_type="HC0")
reg2 = smf.ols("wage ~ age + age_2 + age_3 + gender", data=data).fit(cov_type="HC0")
reg3 = smf.ols("wage ~ age + age_2 + age_3 + gender + edu_ba + edu_ma + edu_phd", data=data).fit(cov_type="HC0")
reg4 = smf.ols("wage ~ age + age_2 + age_3 + gender + edu_ba + edu_ma + edu_phd + union + race", data=data).fit(cov_type="HC0")

In [69]:
# comparing models and adding BIC scores

bic = [round(x.bic, 2) for x in [reg1,reg2,reg3,reg4]]
sg = stargazer.Stargazer([reg1,reg2,reg3,reg4])
sg.covariate_order(["age", "age_2", "age_3", "edu_ba[T.True]", "edu_ma[T.True]", "edu_phd[T.True]", "gender[T.True]", "race", "union[T.True]", "Intercept"])
sg.rename_covariates({"age": "Age", "age_2": "Age squared", "age_3": "Age cubed", 
                      "edu_ba[T.True]" : "BA education", "edu_ma[T.True]" : "MA education", "edu_phd[T.True]" : "PhD education", 
                      "gender[T.True]" : "Gender", 
                      "race" : "Race", 
                      "union[T.True]" : "Union membership"})
sg.add_line('BIC', bic, location=stargazer.LineLocation.FOOTER_BOTTOM)
sg

BIC scores are very similar. Although Model 3 has a slightly lower score than Model 1, the latter may still be favourable as it is a significanlty simpler model.

In [79]:
rmse1 = rmse(reg1.fittedvalues,data.wage).round(3)
rmse2 = rmse(reg2.fittedvalues,data.wage).round(3)
rmse3 = rmse(reg3.fittedvalues,data.wage).round(3)
rmse4 = rmse(reg4.fittedvalues,data.wage).round(3)

rmse_summary = pd.DataFrame(
    {"Model 1": rmse1,
    "Model 2" : rmse2,
    "Model 3" : rmse3,
    "Model 4" : rmse4}, index = ["RMSE"]
)
rmse_summary

      Model 1  Model 2  Model 3  Model 4
RMSE   15.989   15.779    15.19    15.19

Based on RMSE Model 3 and 4 perform the best. Since the scores of these two models are very similar, again the simpler model (i.e. Model 3) would be preferred.

### Cross-validated RMSE

In [80]:
from sklearn.model_selection import KFold
k = KFold(n_splits=4, shuffle=True, random_state=42)

In [81]:
for train_index, test_index in k.split(data):
    print(train_index, '\n', '\n', test_index, '\n')

[  1   2   4   6   7   8  10  11  12  13  14  16  17  19  20  21  23  24
  26  27  28  29  32  34  35  36  37  38  40  41  43  44  47  48  49  50
  51  52  53  54  58  59  60  61  62  64  65  66  67  68  69  71  74  79
  80  81  83  85  86  87  88  89  91  92  95  96  97  98  99 100 102 103
 105 106 107 109 111 112 115 117 118 119 120 121 122 123 125 126 127 128
 129 130 133 134 135 136 138 139 140 142 143 144 145 146 147 148 149 150
 151 153 154 155 156 159 160 161 162 163 164 165 166 167 169 170 171 174
 178 179 180 182 183 184 185 186 187 188 189 190 191 192 193 194 196 197
 199 200 201 202 204 205 206 207 209 210 212 213 214 215 216 217 218 219
 220 221 222 224 225 226 230 231 232 233 234 235 236 237 238 239 240 241
 242 243 244 245 246 249 251 252 253 254 256 257 259 260 263 264 265 266
 267 269 270 272 273 274 276 278 279 280 281 282 284 285 286 287 288 289
 290 291 293 294 295 297 298 299 300 301 302 303 304 306 307 308 309 310
 312 313 314 315 316 318 319 320 323 324 325 327 328 329 330 333 334 336
 338 339 340 342 343 344 345 346 347 348 350 351 352 353 354 355 358 359
 360 361 362 363 364 366 368 370 371 372 373 374 375 376 378 379 380 381
 382 383 385 386 388 389 390 393 395]

 [  0   3   5   9  15  18  22  25  30  31  33  39  42  45  46  55  56  57
  63  70  72  73  75  76  77  78  82  84  90  93  94 101 104 108 110 113
 114 116 124 131 132 137 141 152 157 158 168 172 173 175 176 177 181 195
 198 203 208 211 223 227 228 229 247 248 250 255 258 261 262 268 271 275
 277 283 292 296 305 311 317 321 322 326 331 332 335 337 341 349 356 357
 365 367 369 377 384 387 391 392 394]

[  0   1   2   3   4   5   8   9  11  12  13  14  15  18  20  21  22  25
  26  27  28  29  30  31  32  33  34  35  38  39  40  41  42  43  44  45
  46  47  48  49  50  51  52  53  54  55  56  57  58  61  62  63  64  65
  70  71  72  73  74  75  76  77  78  80  82  83  84  85  87  88  90  91
  93  94  95  98  99 100 101 102 104 105 106 107 108 110 112 113 114 115
 116 117 120 121 124 127 128 129 130 131 132 133 134 135 136 137 138 141
 142 149 151 152 154 156 157 158 159 160 161 162 164 166 168 169 170 171
 172 173 174 175 176 177 178 179 181 184 185 186 187 188 189 190 191 195
 197 198 199 200 201 203 204 205 206 207 208 211 212 213 214 215 216 217
 218 221 223 224 226 227 228 229 230 233 234 235 236 239 240 241 242 243
 244 245 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262
 263 264 266 267 268 269 270 271 273 274 275 276 277 279 280 283 284 287
 288 290 292 293 295 296 300 301 303 305 306 307 308 309 311 312 313 315
 316 317 318 319 320 321 322 323 324 326 327 328 330 331 332 335 336 337
 338 339 340 341 342 343 344 346 348 349 350 352 354 355 356 357 358 359
 360 361 362 363 364 365 367 369 370 372 374 375 376 377 379 380 384 385
 386 387 388 389 391 392 393 394 395]

 [  6   7  10  16  17  19  23  24  36  37  59  60  66  67  68  69  79  81
  86  89  92  96  97 103 109 111 118 119 122 123 125 126 139 140 143 144
 145 146 147 148 150 153 155 163 165 167 180 182 183 192 193 194 196 202
 209 210 219 220 222 225 231 232 237 238 246 265 272 278 281 282 285 286
 289 291 294 297 298 299 302 304 310 314 325 329 333 334 345 347 351 353
 366 368 371 373 378 381 382 383 390]

[  0   1   3   5   6   7   8   9  10  13  14  15  16  17  18  19  20  21
  22  23  24  25  30  31  33  34  36  37  39  40  42  43  45  46  48  49
  50  52  53  54  55  56  57  58  59  60  62  63  64  66  67  68  69  70
  71  72  73  75  76  77  78  79  80  81  82  84  86  87  88  89  90  91
  92  93  94  96  97  99 101 102 103 104 105 106 108 109 110 111 113 114
 116 118 119 121 122 123 124 125 126 128 130 131 132 134 135 137 138 139
 140 141 143 144 145 146 147 148 149 150 151 152 153 155 156 157 158 160
 161 162 163 165 166 167 168 169 172 173 174 175 176 177 180 181 182 183
 187 188 189 190 191 192 193 194 195 196 198 201 202 203 205 207 208 209
 210 211 212 214 216 217 219 220 222 223 225 227 228 229 231 232 235 236
 237 238 241 243 246 247 248 250 251 252 255 257 258 259 261 262 263 264
 265 268 269 270 271 272 273 275 276 277 278 279 281 282 283 285 286 288
 289 291 292 293 294 295 296 297 298 299 300 302 303 304 305 306 308 309
 310 311 313 314 315 317 319 320 321 322 325 326 328 329 330 331 332 333
 334 335 336 337 339 341 342 343 344 345 347 348 349 351 353 356 357 359
 360 361 362 365 366 367 368 369 371 372 373 377 378 379 381 382 383 384
 386 387 389 390 391 392 393 394 395]

 [  2   4  11  12  26  27  28  29  32  35  38  41  44  47  51  61  65  74
  83  85  95  98 100 107 112 115 117 120 127 129 133 136 142 154 159 164
 170 171 178 179 184 185 186 197 199 200 204 206 213 215 218 221 224 226
 230 233 234 239 240 242 244 245 249 253 254 256 260 266 267 274 280 284
 287 290 301 307 312 316 318 323 324 327 338 340 346 350 352 354 355 358
 363 364 370 374 375 376 380 385 388]

[  0   2   3   4   5   6   7   9  10  11  12  15  16  17  18  19  22  23
  24  25  26  27  28  29  30  31  32  33  35  36  37  38  39  41  42  44
  45  46  47  51  55  56  57  59  60  61  63  65  66  67  68  69  70  72
  73  74  75  76  77  78  79  81  82  83  84  85  86  89  90  92  93  94
  95  96  97  98 100 101 103 104 107 108 109 110 111 112 113 114 115 116
 117 118 119 120 122 123 124 125 126 127 129 131 132 133 136 137 139 140
 141 142 143 144 145 146 147 148 150 152 153 154 155 157 158 159 163 164
 165 167 168 170 171 172 173 175 176 177 178 179 180 181 182 183 184 185
 186 192 193 194 195 196 197 198 199 200 202 203 204 206 208 209 210 211
 213 215 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 237 238 239 240 242 244 245 246 247 248 249 250 253 254 255 256 258
 260 261 262 265 266 267 268 271 272 274 275 277 278 280 281 282 283 284
 285 286 287 289 290 291 292 294 296 297 298 299 301 302 304 305 307 310
 311 312 314 316 317 318 321 322 323 324 325 326 327 329 331 332 333 334
 335 337 338 340 341 345 346 347 349 350 351 352 353 354 355 356 357 358
 363 364 365 366 367 368 369 370 371 373 374 375 376 377 378 380 381 382
 383 384 385 387 388 390 391 392 394]

 [  1   8  13  14  20  21  34  40  43  48  49  50  52  53  54  58  62  64
  71  80  87  88  91  99 102 105 106 121 128 130 134 135 138 149 151 156
 160 161 162 166 169 174 187 188 189 190 191 201 205 207 212 214 216 217
 235 236 241 243 251 252 257 259 263 264 269 270 273 276 279 288 293 295
 300 303 306 308 309 313 315 319 320 328 330 336 339 342 343 344 348 359
 360 361 362 372 379 386 389 393 395]

In [82]:
### Cross validate OLS with combining sklearn k-fold cross validation and statsmodels ols formula


def cv_reg(formula, data, kfold, robustse=None):
    regression_list = []
    predicts_on_test = []
    rsquared = []
    rmse_list = []

    # Calculating OLS for each fold

    for train_index, test_index in k.split(data):
        # print("TRAIN:", train_index, "TEST:", test_index)
        data_train, data_test = data.iloc[train_index, :], data.iloc[test_index, :]
        if robustse is None:
            model = smf.ols(formula, data=data_train).fit()
        else:
            model = smf.ols(formula, data=data_train).fit(cov_type=robustse)
        regression_list += [model]
        predicts_on_test += [model.predict(data_test)]
        rsquared += [model.rsquared]
        rmse_list += [rmse(data_train[formula.split("~")[0]], model.predict())]

    return {
        "regressions": regression_list,
        "test_predict": predicts_on_test,
        "r2": rsquared,
        "rmse": rmse_list,
    }


def summarize_cv(cvlist, stat="rmse"):
    result = pd.DataFrame(
        {"Model" + str(x + 1): cvlist[x][stat] for x in range(len(cv_list))}
    )
    result["Resample"] = ["Fold" + str(x + 1) for x in range(len(cvlist[0]["rmse"]))]
    result = result.set_index("Resample")
    result = pd.concat([result, pd.DataFrame(result.mean(), columns=["Average"]).T])
    return result

In [83]:
cv1 = cv_reg("wage~age", data, k, "HC0")
cv2 = cv_reg("wage~ age + age_2 + age_3 + gender", data, k, "HC0")
cv3 = cv_reg(
    "wage~ age + age_2 + age_3 + gender + edu_ba + edu_ma + edu_phd",
    data,
    k,
    "HC0")
cv4 = cv_reg(
    "wage~ age + age_2 + age_3 + gender + edu_ba + edu_ma + edu_phd + union + race",
    data,
    k,
    "HC0")
cv_list = [cv1, cv2, cv3, cv4]

In [84]:
summarize_cv(cv_list).round(2)

         Model1  Model2  Model3  Model4
Fold1     16.59   16.34   15.71   15.71
Fold2     16.05   15.89   14.85   14.82
Fold3     14.43   14.18   13.97   13.94
Fold4     16.73   16.52   15.77   15.76
Average   15.95   15.73   15.08   15.06

The cross-validated RMSE shows that Model 4 is performing the best, however Model 3 is just 0.02 higher, therefore again Model 3 would be the preferred choice considering that it is a simpler model than Model 4.